*pycache*
*Trained_Models*
data
.idea
*old_results*
*.csv*
*Untitled.ipynb*
*extras_old.ipynb*
*elon_tweet_v2.pdf*
*elon_tweet.png*
*elon_tweet.pdf*
*slurm_sub*
*submit_torque*
*.zip*
*Aleatoric_Epistemic_*